@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


/* Rest of your CSS */

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin: 32px 42px 0px 9px;
}
.navbar li a{
    font-size: 1.6rem;
    color: var(--text-color);
    transition: .3s;
    font-weight: 700;
}

section {
    height: 60vw;
    width: 100%;
}

.container {
    width: 100%;
    height: 60vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 20px;
    align-items: center;
    margin: 3px 5px 5px 38px;
    color: #fff;
}

.p {
    border: 2px solid #fff;
    border-radius: 36px;
    width: 34vw;
    height: 24vw;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    transition: .5s ease;
}
/* Rest of your CSS */
.button {
    color: #fff;
    font-size: 4.6rem;
}